Notify.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Notify.xcodeproj/xcuserdata/ivan.xcuserdatad/xcschemes/Notify.xcscheme
Notify.xcodeproj/xcuserdata/ivan.xcuserdatad/xcschemes/xcschememanagement.plist
Notify.xcodeproj/xcuserdata/ivanbrazhnikov.xcuserdatad
/contents.xcworkspacedata/**
